.detail{
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size:130%;
    background-color: rgb(230, 230, 230);
    margin: 30px 10px 10px 0;
}

.detail img{
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    
}

.detail img:hover{
    transform: scale(1.1)
}

.box-detail{
    max-width: 700px;
    width:100%;
    margin: 5px 20px;
}

.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-detail h2{
    text-transform: uppercase;
    color:white;
    letter-spacing: 2px;
    font-weight: 2rem;
}

.box-detail h6{
    text-transform: uppercase;
    color:white;
    letter-spacing: 2px;
    font-weight: 700;
    padding:5px 10px;
    border-radius:10px;
    font-size:19px;
    background-color: rgb(230, 14, 122);
}
.box-detail h5{
    text-transform: uppercase;
    color:rgb(204, 15, 15);
    letter-spacing: 2px;
    font-weight: 700;
    font-size:19px;
}
.box-detail p{
    line-height: 1.5;
    margin:10px 0;
    opacity:0.8;
   
}

.box-detail .cart{
    background:black;
    color:white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}